.display-flex {
  display: flex;
}
.nav-item {
  list-style: none;
  margin-right: 48px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500px;
}
.navbar {
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border: 2px solid crimson;
  margin: 30px 150px 120px 150px;
}
/*coler*/
.text-coler {
  color: #8987a1;
}
.new-coler {
  color: #252432;
  font-size: medium;
}
/*main*/
.fol {
  display: flex;
  margin: 120px 150px 120px 150px;
  border: 2px solid rgb(36, 36, 36);
  height: auto;
}
.oring {
  color: #e95a08;
}
.main {
  color: #000000;
  padding-top: 162px;
}
.para {
  font-size: small;
}
.img {
  padding-top: 106px;
}
.main-last {
  text-align: center;
  border: 2px solid chocolate;
  margin: auto 150px 49px 150px;
  padding: 20px;
}
.our {
  font-weight: 300;
}
/*motamoti mani last*/

.image {
  width: auto;
  text-align: center;
}
.add {
  background-color: #e95a08;
  color: #ffff;
  text-align: center;
  width: 70%;
  border: 1px solid crimson;
}
.crad-continar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin: auto 150px 210px 150px;
}
