.display-flex {
  display: flex;
}
.nav-item {
  list-style: none;
  margin-right: 48px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500px;
}
.navbar {
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border: 2px solid crimson;
  margin: 30px 150px 120px 150px;
}
/*coler*/
.text-coler {
  color: #8987a1;
}
.new-coler {
  color: #252432;
  font-size: medium;
}
/*main*/
.fol {
  display: flex;
  margin: 120px 150px 120px 150px;
  border: 2px solid rgb(36, 36, 36);
  height: auto;
}
.oring {
  color: #e95a08;
}
.main {
  color: #000000;
  padding-top: 162px;
}
.para {
  font-size: small;
}
.img {
  padding-top: 106px;
}
